@import "tailwindcss";

h1,
h2,
h3 {
  font-family: var(--header-font), sans-serif;
}

p,
li,
button {
  font-family: var(--text-font);
  color: black;
}

.thisArticle p {
  margin-bottom: 1rem;
  line-height: 34px;
  font-size: 18px;
}

.thisArticle h2 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: bold;
  margin: 20px 0px;
}

.thisArticle p {
}

span {
  font-family: var(--text-font);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --headerColor-hjem: #436fff;
  --headerColor-artikler: #43c0ff;
  --headerColor-kontakt: #ffcd43;
  --headerColor-guider: #ff6f43;
  --headerColor-om: #45cd4a;
  --main-bg-color: #fffcf4;
  --info-card-bg: #fff5d6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
